@model NetNode.Models.NoteModel
@{
    var types = ViewBag.Types as IEnumerable<SelectListItem>;
}
<div class="container-fluid">
    <div class="row" style="margin-top:10px; margin-bottom:10px;">

        <form method="post" action="/Note/Add" enctype="multipart/form-data">
            @* 新增和更新统一到一个地址 *@
                @*<form method="post" asp-action="Add">*@@* 新增和更新asp-action会产生变化 *@
                <input asp-for="Id" type="hidden" value="@Model.Id" />
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" type="text" placeholder="标题" class="form-control" value="@Model.Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" rows="10" cols="50" class="form-control">@Model.Content</textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" asp-items="types" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" placeholder="如需加密请输入密码" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Attachment"></label>
                    <input asp-for="Attachment" type="file" class="form-control" />
                </div>
                <hr />
                <p>
                    <button type="submit" class="btn">保存</button>
                </p>
            </form>

    </div>
</div>
